:root{
  --mainColor: #0299B9;
    --secondColor:#0A4B73;
}


.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .3);
    font-weight: bold;
}
.navbar{
    top: 0;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--mainColor);
    font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: var(--mainColor);
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.9rem;
        padding-left: 0.9rem;
    }
}
.navbar .search-icon{
     color: rgba(0, 0, 0, .3);
}
.navbar .search-icon:hover{
    cursor: pointer;
    color: var(--mainColor);
}
::placeholder{
    color: var(--mainColor) !important;
    font-size: 13px;
}
.main-color{
    color: var(--mainColor);
}
.sec-color{
    color: var(--secondColor);
}
.bg-main{
    background-color: var(--mainColor);

}
.bg-sec{
    background-color: var(--secondColor);

}
a,a:focus,a:hover{
    text-decoration: none;
}

/*header*/
.header{
    background-color: #F8F8F8;
}
.header h6{
    color: #C1C1C1;
    font-size: 14px;
}
.header .logos a:hover i{
    color: var(--secondColor) !important;
}
.header .image{
    width: 270px;
}

/*about*/
.about{
    background-color: #F2FCFE;
}
.about .card-about{
    transition: all .5s ease-in-out;
}
.about .card-about:hover{
    background-color: var(--mainColor) !important;
    cursor: pointer;
}
.about .card-about:hover i{
    color: #fff;
}
.about .card-about:hover h4{
    color: #81d6de;
}
.about .card-about:hover p{
    color: #ddd !important;
}
.about .card-about h4{
    color: #3C3D41;
}
/*count*/
.count:after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: url(../img/y.png);
    opacity: .1;
    background-position: bottom left;
    background-size: 140% 184%;
}
img{
    max-width: 100%;
}

.main-img{
    border-bottom-left-radius: 40px;
    object-fit: cover;
}

